/* custom styles */

pre {
	tab-size: 2;
}

pre > code[class*="language-"], pre[class*="language-"] {
	white-space: pre;
	background-color: transparent;
}

#page-wrapper {
	padding: 2em;
	background-color: #f6f6f6;
	color: #000;
	font-size: 18px;
}

@media (max-width: 500px) {
	#page-wrapper {
		font-size: 14px;
	}
}

.example-image {
	max-height: 600px;
	border-left: .5em #d6d6d6 solid;
}

@media (max-width: 500px) {
	.example-image {
		width: 100%;
	}
}

.user-output {
	background-color: #e9e9e9;
    padding: 1em;
}

#pokemon {
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}

.pokemon {
	height: 100px;
}